*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sideInfoC{
    background-image: url('../../assets/Images/Background/MainBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}