@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.serviceContainer{
    height: 100%;
    width: 100%;
}
.services{
    margin-top: 6rem;
    background-color: rgba(237, 238, 243, 0.11);
    height: 100%;
    overflow-y: hidden;
}
.servicesHead{
    width: 90%;
    margin: auto;
}
.servicesParentNode .miniTitle{
    text-align: center;
    color: 	orange;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Poppins';
    padding-top: 10rem;
}
.miniTitle:hover{
    color: #fff;
}
.servicesParentNode .serviceTitle{
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    color: #ffc107a9;
    font-family: 'Poppins';
    letter-spacing: 3px;
    font-style: italic;
}
.serviceTitle:hover{
    color: #fff;
}
/*----------- service items design --------------  */
.serviceContent{
    margin-top: 9rem;
    display: flex;
    justify-content: space-evenly; 
}
.serviceImage {
    width: 700px;
    height: 700px;
    background-image: linear-gradient(to bottom, rgba(57, 84, 240, 0.52), rgba(241, 234, 240, 0.73)), url('../../assets/Images/Background/Leaf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
   
}
.serviceContentItems .designer{
    width: 500px;

}

.designer .titleDesign{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins';
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 5px;
   
}
.designer .nameOfWork{
    width: 600px;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
    padding: 10px 0;
    text-transform: capitalize;
    letter-spacing: 3px;
  

}

.nameOfWork:hover{
    color: rgba(13, 45, 224, 0.788);
}



/* Used FadeInUP Animated start */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 6s;
    animation-fill-mode: both;
    -webkit-animation-duration: 6s;
    -webkit-animation-fill-mode: both
}
.animated1 {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
.animated2 {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both
}
.animated3 {
    animation-duration: 8s;
    animation-fill-mode: both;
    -webkit-animation-duration: 8s;
    -webkit-animation-fill-mode: both
}
.animated4 {
    animation-duration: 10s;
    animation-fill-mode: both;
    -webkit-animation-duration: 10s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Used FadeInUP Animated end */

/*------------- Simple note design -------------- */
.noteHead{
    width: 500px;
    height: 400px; 
    background-color: #000;
    z-index: 999;
    margin-top: -12rem;
    margin-left: 10rem;
   
}
/* ------------star designed--------  */
.iconBall{
    margin-left: 10rem;
    width: 5px;
}
.iconBallRed{
    margin-top: 1rem;
    margin-left: 11rem;
    width: 8px;
}
/* ------------star designed--------  */

.noteHead .numberNote{
    color: #fff;
    padding: 20px 0px 0px 40px;
    font-size: 55px;
    font-family: 'Poppins';
    letter-spacing: 4px;
}
.noteHead .noteDescription{
    color: #fff;
    padding: 40px 20px 20px 20px;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Poppins';
    text-align: justify;
}
.noteHead a {
    color: #fff;
    text-decoration: none;
    padding: 0px 0px 0px 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: 2px;
}
.linkMoreNote:hover {
    color: orange;
    font-weight: 500;
}
