*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.services{
    margin-top: 6rem;
    background-color: rgba(220, 220, 220, 0.514);
}
.servicesHead{
    width: 90%;
    margin: auto;
}
.servicesParentNode .miniTitle{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.801);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10rem;

}
.servicesParentNode .serviceTitle{
    font-size: 62px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    color: #000000e7;
}

/*----------- service items design --------------  */
.serviceContent{
    margin-top: 70px;
    display: flex;
    gap: 200px;
}
.serviceImage {
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(57, 84, 240, 0.52), rgba(241, 234, 240, 0.73)), url('../../assets/Images/Background/Leaf.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.serviceContentItems .designer{
    width: 500px;
    animation-delay: 200ms; 
    animation-name: fadeInUp;

}

.designer .titleDesign{
    font-size: 20px;
    color: #000000a6;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: capitalize;
    padding-top: 30px;
}
.designer .nameOfWork{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 600;
    color: #000000d2;
    padding: 25px 0;
    text-transform: capitalize;

}



/* Used FadeInUP Animated start */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 6s;
    animation-fill-mode: both;
    -webkit-animation-duration: 6s;
    -webkit-animation-fill-mode: both
}
.animated1 {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
.animated2 {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both
}
.animated3 {
    animation-duration: 8s;
    animation-fill-mode: both;
    -webkit-animation-duration: 8s;
    -webkit-animation-fill-mode: both
}
.animated4 {
    animation-duration: 10s;
    animation-fill-mode: both;
    -webkit-animation-duration: 10s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Used FadeInUP Animated end */

/*------------- Simple note design -------------- */
.noteHead{
    margin-top: 20px;
    width: 500px;
    height: 300px; 
    background-color: #000;
}
/* ------------star designed--------  */
.iconBall{
    margin-left: 10rem;
    width: 5px;
}
.iconBallRed{
    margin-top: 1rem;
    margin-left: 11rem;
    width: 2px;
}
/* ------------star designed--------  */

.noteHead .numberNote{
    color: #fff;
    padding: 20px 0px 0px 40px;
    font-size: 55px;
}
.noteHead .noteDescription{
    color: #fff;
}
.noteHead .linkMoreNote{
    color: #fff;
}
