*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.services{
    margin-top: 6rem;
    background-color: rgba(220, 220, 220, 0.514);
}
.servicesHead{
    width: 90%;
    margin: auto;
}
.servicesParentNode .miniTitle{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.801);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10rem;

}
.servicesParentNode .serviceTitle{
    font-size: 62px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    color: #000000e7;
}

/*----------- service items design --------------  */
.serviceContent{
    margin-top: 30px;
    display: flex;
    gap: 100px;
}
.serviceImage img{
    width: 400px;
    height: 400px;
}