*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .basicPlanHed1{
    height: 200px;
} */
.basicContent{
    padding: 40px 40px;

}
.basicContent .basicTitle{
    font-size: 20px;
    color: #111;
    font-weight: 600;
}
.basicContent .dollarBasic{
    font-size: 30px;
    padding: 10px 0 0 0;
}
.basicContent .perMonth{
    font-size: 18px;
    padding: 0px 0 0px 0;
    color: #111111be;
    font-weight: 600;
}
.basicPlanTitles{
    font-size: 14px;
    color: #111111d2;
    font-weight: 400; 
}

.bsArrowBasic{
    padding: 0 10px 0 0;
}
.basicContent a{
    text-decoration: none;
}
.basicContent button{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 0 ;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    border: 0;
    background-color: #347ce9d5;
    border-radius: 10px;

}
.basicPlanBtn:hover{
    background-color: #ffc107;
    color: #111;

}