*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sideBarMain{
    width: 100%;
    height: 100%;
}
.sideBarContent{
    display: flex; 
}
.sideBarSection{
    width: 20%;
    
}
.sideBarInfo{
    width: 80%;
}