*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sideBarMain{
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
}
.sideBarContent{
    display: flex;
    gap: 1rem;
   
}
.sideBarSection{
    width: 28%;
    
}
.sideBarInfo{
    width: 60%;
}