*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customerCard{
    width: 400px;
    background-color: white;
    height: 94vh;
    border-radius: 10px;
    
}
.customerContent a{
    text-decoration: none;
}
.customerContent .img{
    width: 320px;
    height: 280px;
    margin: 30px 0 0 2.5rem ;
    text-align: center;
    transition: all .4s ease-in-out; 
}
.img:hover{
    transform: scale(1.1);
}
.customerCard .customerDate{
    font-size: 20px;
    color: #111111e3;
    font-weight: 500;
    padding: 30px 0 0px 30px;
}
.customerCard .titleCard{
    font-size: 28px;
    color: #111111e3;
    font-weight: 600;
    padding: 0px 0px 10px 30px;
    font-family: poppins;
}
.customerCard .cardDes{
    font-size: 18px;
    color: #111111e3;
    font-weight: 400;
    padding: 0px 0px 30px 30px;
    font-family: poppins;
}