*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsTitle{
  font-size: 35px;
  font-weight: 600;
  padding: 10px ;
  background-color: #ffc107a9;
  color: #000000e3;
  /* animation: title 1s infinite forwards !important; */

 

}
.starIcon{
  font-size: 60px;
  /* top: 5px; */
  padding: 0 30px;
  position: relative;
}


/* @keyframes title {
  0% {transform: translateX(0);}
  100% {transform: translateX(-0px);}
} */


 
