@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    /* background-color: #111; */
}
.servicePageTwo{
    height: 100%;
    width: 100%;
}
.servicePageCon{
    margin: 8rem 0 0 4rem;
}
.my_service{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
}
.passionTitle{
    width: 98%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 2px;
    padding: 1rem 0 3rem 0;

}
/* blog design start  */
.service_cate11{
    margin-top: 3rem;
    display: flex;
   justify-content: space-around;
    padding: 0 0 2rem 0;
}
.website_logo{
    width: 380px;
    height: 260px;
    background-color: #343a40;
    display: block;
    
}
.web_logo_page2{
    width: 150px;
    height: 110px;
    background-color: #55e6a5;
    border-radius: 10px;
    left: 30%;
    bottom: 2rem;
    position: relative;
}
.websiteSp{
  
    padding: 0rem 1.8rem;
    top: .8rem ;
    position: relative;
    /* background-color: #55e6a5; */
}


.tama{
    padding: 2rem 0;
    color: #fff;
}
