@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    /* background-color: #111; */
}
.servicePageTwo{
    height: 100%;
    width: 100%;
}
.servicePageCon{
    margin: 8rem 0 0 4rem;
}
.my_service{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
}
.passionTitle{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 2px;
    padding: 1rem 0 3rem 0;

}
/* blog design start  */
.serviceContents{
    margin-top: 5rem;
}
.service_web{
    /* right: 4rem; */
    position: relative;
    width: 100%;
    display: inline-flex;
    gap: 2rem;
    padding: 0 0 2rem 0;
}
.website_logo{
    width: 280px ;
    height: 280px;
    background-color: #343a40;
    display: block;
    border-radius: 10px;  
}
.web_logo_page2{
    width: 80px;
    height: 70px;
    background-color: #55e6a5;
    border-radius: 10px;
    margin-left: 10%;
    /* left: 10%; */
    bottom: 3rem;
    position: relative;
}
.websiteSp{
    padding: 0rem 1rem;
    top: .8rem ;
    position: relative;
}
.web_des_title{
    font-size: 20px;
    padding: 0 0 0 10%;
    color: #ffffffec;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.web_design_des{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: justify;
    padding: 18px  32px;
    color: #ffffffc7;
    letter-spacing: 1px;
}
/* btn  */
.serviceContents .web_btn_group{
    margin: 3rem 0 0 40%;
    padding: 0 0 6rem 0;
}
.serviceContents .web_btn_group a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 1rem 1rem;
    border: 1px solid #55e6a5;
    color: #fff;
    font-weight: 600;
    
}
.web_btn_group:hover a{
    background-color: #55e6a5;
    color: #111;
}

 







