*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portfolio{
    width: 90%;
    margin: auto;
}
.portfolioHead .sortTitlePortfolio{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.801);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6rem;
}
.portfolioHead .portfolioTitle{
    font-size: 54px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    color: #000000e7;
    font-family: poppins;

}
.btnGroupFolio{
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btnGroupFolio ul{
    display: flex;
    gap: 40px;
    justify-content: center;

   
    
}
.listOfLink li{
    list-style: none;


}