*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactContainer{
    /* height: 260vh; */
    height: 100%;
    overflow: hidden;
}
.contactMe{
    height: 120vh;
    background-image: url(../../../../assets/Images/Background/ContactMe/photo-1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactMeHead{
    width: 90%;
    margin: auto;

}
.contactMeTitle .contactOfTitle{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.671);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 7rem;
}
.contactMeBody{
    display: flex;
    gap: 50px;
}
.imagePart{
    width: 500px;
}
.imagePart img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    /* opacity: .5; */
    background-color: #111;
}
.ContactInfoHead{
    width: 600px;
}
.ContactInfoHead .infoTitle{
    color: #fff;
    font-size: 55px;
}

.contentsOfInfo{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
 .nameField {
    width: 300px;
    height: 50px;
    background-color: #11111142;
    border: 1px solid rgba(236, 224, 224, 0.267);
    color: #fff;
    border-radius: 10px;
}
 .emailField {
    width: 300px;
    height: 50px;
    background-color: #11111142;
    border: 1px solid rgba(236, 224, 224, 0.267);
    color: #fff;
    border-radius: 10px;
}
::placeholder{
    font-size: 16px;
    color: #fff;
    padding-left:  20px ;
}
.messageSection{
    margin-top: 30px;
}
#textarea{
    width: 100%;
    background-color: #11111142;
    border: 1px solid rgba(236, 224, 224, 0.267);
    padding: 10px 0 0 0px;
    height: 150px;
    border-radius: 10px;
}
.btnOfContact{
    margin-top: 30px;
}
.btnOfContact button{
    padding: 16px 30px;
    color: #fff;
    background-color: SlateBlue;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}
.btnOfContact:hover button{
    background-color: rgba(250, 235, 215, 0.514);
}
.numberLocationHead{
    height: 60vh;
    background-color: #fff;
}
.contactLocationContents{
    /* margin: 30px 20px; */
}