*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills{
    height: 125vh;
    background: linear-gradient(-117deg, rgba(15, 15, 15, 0.945), #f093f0	 80.71%),
    linear-gradient(227deg, rgba(196, 132, 15, 0.932), rgba(19, 19, 18, 0.007) 80.71%),
    linear-gradient(316deg, rgb(19, 18, 18), rgba(109, 7, 224, 0) 100%);
}
.skillBody{
    width: 90%;
    margin: auto;
}
.skillsHead .SkillSort{
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6rem;

}
.skillsHead .SkillTitle{
    color: #ffffffe3;
    font-size: 60px;
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 80px;
}
.skillContent{
    height: 60vh;
    display: inline-flex;
    gap: 80px;
    margin-top: 40px;
    
}
.imageInfoSkills{
    width: 170px;
   height: 270px;
    border: 1px solid #ffffffde;
    border-radius: 80px;
    background-color: #0000002d;
}

.imageInfoSkills img{ 
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 15px;
    background-color: white;
    margin: 35px 0px 0px 32px;
    
}
.SkillContentAll .percentSkill{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 30px 0;
    color: #fff;
    text-align: center;
    
}
.SkillContentAll{
    margin-top: 30px;
}
.SkillContentAll .nameTopic p{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding: 30px 0px 0px 50px;
}
.SkillContentAll .nameTopicLong p{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding: 30px 0px 0px 30px;
}
.SkillContentAll .nameTopicTail p{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding: 30px 0px 0px 38px;
}
.SkillContentAll .nameTopicJS p{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding: 30px 0px 0px 30px;
}