*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills{
    background-color: #000000ee;
}
.skillsHead .SkillSort{
    font-size: 16px;
    text-align: center;
    color: rgba(3, 3, 253, 0.555);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6rem;

}
.skillsHead .SkillTitle{
    color: #ffffffe3;
    font-size: 60px;
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 80px;
}