@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactField{
    height: 100%;
    width: 100%;
}
.infoTitle {
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    color: #ffffffd2;
    font-family: 'Poppins';
    letter-spacing: 3px;
}

.infoTitle:hover {
    color: tomato;
}

/*------------------- email  input field ----------------- */

.contentsOfInfo {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.nameField {
    width: 350px;
    height: 70px;
    background-color: #f0acac42;
    border: 1px solid rgba(212, 174, 174, 0.267);
    color: #fff;
    border-radius: 10px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 10px;
}

.emailField {
    width: 350px;
    height: 70px;
    background-color: #f0acac42;
    border: 1px solid rgba(212, 174, 174, 0.267);
    color: #fff;
    border-radius: 10px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 10px;

}

::placeholder {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.messageSection {
    margin-top: 60px;
}

#textarea {
    width: 100%;
    background-color: #f0acac42;
    border: 1px solid rgba(212, 174, 174, 0.267);
    padding: 10px 0 0 0px;
    height: 150px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 22px;
    padding-left: 10px;
    font-family: 'Poppins';
    color: #fff;
}

.btnOfContact {
    margin-top: 30px;
    padding: 1rem 0 4rem 0;
}

.btnOfContact button {
    padding: 16px 30px;
    color: #fff;
    background-color: SlateBlue;
    border: 0;
    font-weight: 600;
    font-size: 25px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}

.btnOfContact:hover button {
    background-color: tomato;
}

.nameError{
    font-size: 20px;
    color: red;
    padding-left: 10px;
    letter-spacing: 1px;
    font-family: 'Poppins';

}