*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutSection{
    height: 100%;
    width: 100%;
    /* margin-top: 15rem; */
}
.aboutAll{
    width: 90%;
    margin: auto;
    /* margin-top: 4rem; */
}
.aboutAllInfo{
    display: flex;
    gap: 80px;
}
/* image section styled start  */
.imageInfo img{
    border-radius: 25px;
    height: 560px;
    --s: 15px;  /* size of the frame */
  --b: 2px;   /* border thickness */
  --w: 400px; /* width of the image */
  --c: #f0d90b;
  
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b),#c27d7d00 0 calc(100% - var(--b)),var(--c) 0;
  background:
    linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
    linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
  outline: calc(var(--w)/2) solid rgba(235, 226, 226, 0.233);
  outline-offset: calc(var(--w)/-2 - 2*var(--s));
  transition: .4s;
  cursor: pointer;

    
}
img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
  }
  /* image section styled end  */
.informationAll{
    height: 520px;
    background-color: whitesmoke;
    box-shadow: inset 5px 5px 8px rgb(240, 159, 9), inset 5px 5px 8px #010caa;
}

.titleAbout{
    margin-left: 40px;
}

 .aboutMeTitle{
    color: 	#4329eb;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5rem;
}
.aboutMeTitle:hover{
    color: orange;
}
 .title{
    width: 100%;
    font-size: 32px;
    color: #000000ce;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.title:hover {
    color: orange;
}

.titleAbout .descriptionAbout{
    width: 90%;
    font-size: 14px;
    color: #181616a9;
    font-weight: 500;
    text-align: justify;
    padding: 0px 0px 2rem .5rem;
    line-height: 25px;
    letter-spacing: 1px;   
}
.contactAbout{
    display: flex;
    gap: 30px;
}
.btnAbout button{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #2405ec9a;
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    transition: transform .5s;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* ---------hover create in button ======== */

.btnAbout:hover button{
    background-color: rgba(255, 196, 0, 0.63);
    color: #000;
    font-weight: 500;
    transform: scale(1);
}
.works a{
    text-decoration: none;
    
}
.works .btnWorks{
    color: #353232;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px 30px;
    letter-spacing: 1px;
}

.works .btnWorks:hover{
    /* background-color: rgba(84, 132, 175, 0.103); */
    color: orange;
}
.arrowRight1{
   right: .2rem;
   bottom: 1px;
    position: relative;
}
.arrowRight1:hover{
    color: orange;
}

/*----------------- birth info ------------- */
.birthInfo{
    margin-top: 40px;
    display: inline-flex;
    gap: 40px;
}
.birthInfoHeading p{
    font-size: 16px;
    font-weight: 700;
    color: #000000b0;
    text-transform: uppercase;
    padding: 0px 20px; 
    letter-spacing: 1px;
}
.birthInfoHeading span{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000000b4;
    padding: 0 0 30px 20px;
    letter-spacing: 1px;
    
    
}



/*----------------- birth info end------------- */


/* about title animation on FadeInUp  */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: calc(-.01s);
    animation-fill-mode: both;
    -webkit-animation-duration: calc(-.01s);
    -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* --------------------------responsive start here  -------------------*/



/* large device for  */
/* @media (max-width: 576px) {
    .aboutMeTitle{
        color: yellow;
    }

    
}
@media (min-width: 577px) and (max-width: 768px) {
    .aboutMeTitle{
        color: purple;
    }

    
} */
/* @media (min-width: 769px)and(max-width: 992px) {
    .aboutSection{
        height: 100%;
        width: 100%;
    }
    .aboutMeTitle{
        color: red;
    }
    .title {
        width: 300px;
        font-size: 20px;
        color: green;
    }
} */
