*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutAll{
    width: 90%;
    margin: auto;
    margin-top: 4rem;
}
.aboutAllInfo{
    display: flex;
    gap: 30px;
}
.imageInfo img{
    border-radius: 25px;
    width: 500px;
    height: 500px;
    
}
.informationAll{
    height: 500px;
    background-color: whitesmoke;
    box-shadow: inset 5px 5px 8px #fcfa7183, inset 5px 5px 8px #010caa;
}
.titleAbout{
    margin-left: 40px;
}

.titleAbout h3{
    color: 	#4329eb;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;

   
}
.titleAbout .title{
    font-size: 50px;
    color: #000000ce;
    padding-top: 20px;
    text-transform: capitalize;
}
.titleAbout .descriptionAbout{
    font-size: 19px;
    color: #181616a9;
    font-weight: 500;
    padding: 30px 0;
    text-align: justify;
    padding-right: 10px;

    
}
.contactAbout{
    display: flex;
    gap: 30px;
}
.btnAbout button{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #2405ec9a;
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    transition: transform .5s;
}
/* ---------hover create in button ======== */

.btnAbout:hover button{
    background-color: rgba(255, 196, 0, 0.63);
    color: #000;
    font-weight: 600;
    transform: scale(1);
}

.arrowRight{
    /* font-size: 30px; */
    width: 30px;
    color: rgb(31, 29, 29);
    margin-left: 41.5rem;
    margin-top: 70rem;
}