@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'; 
}
.aboutPageTwo{
    height: 100%;
    width: 100%;
}
.aboutCon_pageTwo{
    margin: 8rem 0 0 4rem;
}
.title_abPageTwo{
    font-size: 28px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
   
}
.craftingTitle{
    width: 90%;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 2px;
    padding: .5rem 0 3rem 0;

}

/* about section image and info start  */
.infoAbout_pageTwo{
    margin-top: 1rem;
    display: flex;
    gap: 6rem;
}
.infoCon_Page img{
    width: 200px;
    height: 200px;
}
.myAmbition{
    font-size: 46px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    padding: 2rem 0;
}
.ambitionDes{
    width: 100%;
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 1px 0 3rem 0 ;

}
.ImageCon_page{
    width: 30%;
}
.ImageCon_page img{
    width: 600px;
    height: 600px;
    margin-top: 2rem;
}