@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
.aboutPageTwo{
    height: 100%;
    width: 100%;
}
.aboutCon_pageTwo{
    margin: 8rem 0 3rem 4rem;
}
.title_abPageTwo{
    font-size: 22px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 3rem 0 6px 0;
    letter-spacing: 1px;
    font-family: 'Poppins'; 
   
}
.craftingTitle{
    width: 60%;
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2px;
    padding: .5rem 0 3rem 0;
    font-family: 'Poppins'; 

}

/* about section image and info start  */
.infoAbout_pageTwo{
    margin-top: 1rem;
    display: flex;
    /* width: 100%; */
    /* gap: 6rem; */
}
.infoCon_Page{
    /* width: 50%; */
}
.infoCon_Page img{
    width: 100px;
    height: 100px;
}
.myAmbition{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    padding: 1.5rem 0;
    font-family: 'Poppins'; 
}
.ambitionDes{
    width: 80%;
    font-size: 14px;
    color: #ffffffbe;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 0px 0 0rem 0 ;
    font-family: 'Poppins'; 

}
.ImageCon_page{
    /* width: 50%; */
}
.ImageCon_page img{
    width: 400px;
    height: 500px;
    margin: 2rem 4rem 0 0 ;
}

/* year experience start */
.yearEx{
    width: 290px;
    height: 130px;
    background-color: #55e6a5;
    display: flex;
    margin: 0 0 0rem 20%;
    /* left: 50%; */
    bottom: 5rem;
    position: relative;
}
.logoYearEx{
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin: 2rem 14px 2rem 25px;
    position: relative;
    border-radius: 5px;

}
.faAward{
    color: #55e6a5;
}
.awardSp{
    padding: 0rem .8rem;
    top: .8rem ;
    position: relative;
}
.infoYearEx{
    margin: 2rem 0rem;
}
.infoYearEx .twoPlusPage2{
    font-size: 28px;
    font-weight: 700;
    color: #111;
    font-family: 'Poppins'; 

}
.infoYearEx .yearEx_page2{
    font-size: 18px;
    font-weight: 700;
    color: #111;
    bottom: 1rem;
    position: relative;
    text-transform: capitalize;
    font-family: 'Poppins';
    letter-spacing: 1px; 

}