@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.skillsPages{
    height: 100%;
    width: 100%;
}
.skillPageContainer{
    margin: 5rem 0 0 0rem;
}
.skillsPages .my_skills{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
}

 .skills_header{
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: #fffffff1;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 1rem 0 3rem 0;
}
.skills_header:hover{
    color: tomato;
}

/* --------------------Tab style working---------------  */
.skills_multiPage{
    margin-top: 0rem;
}


/* tab style  */
.btnGroupFolio_skills{
    width: 68%;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.021) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: 10vh;
    border-radius: 10px;
}

.btnGroupFolio_skills .ul {
    display: flex;
    gap: 60px;
    justify-content: center;   
}
.listOfLink li{
    list-style: none;
}
.listOfLink .btnShowSkill{
    padding: 0rem 1.7rem;
    font-size: 18px;
    border: 0;
    /* margin-top: 15px; */
    /* background-color: white; */
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Poppins';
    text-transform: capitalize;
    /* border: 1px solid rebeccapurple; */
    background-color: #141c27;
    margin: 15px 2rem 0 0;

    
}
.listOfLink .btnShowSkill1{
    padding: .8rem 1rem;
    font-size: 18px;
    border: 0;
    font-weight: 600;
    color: #111;
    letter-spacing: 0px;
    font-family: 'Poppins';
    text-transform: capitalize;
    border: 1px solid rebeccapurple;
    background-color: #55e6a5;
    margin: 15px 2rem 0 0;

    
}
.btnShowSkill:hover{
    color: #141c27;
    background-color: #55e6a5;
}
.tabContext1{
    position: fixed;
  }

/* hhhhh */

