@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
}
.skillsPages{
    height: 100%;
    width: 100%;
}
.skillPageContainer{
    margin: 8rem 0 0 0rem;
}
.skillsPages .my_skills{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #55e6a5;
    text-transform: uppercase;
    padding: 6px 0;
    letter-spacing: 1px;
}

 .skills_header{
    width: 98%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 2px;
    padding: 1rem 0 3rem 0;
}
.skills_header:hover{
    color: tomato;
}

/* --------------------Tab style working---------------  */
.skills_multiPage{
    margin-top: 3rem;
}



.tabContext1{
    position: fixed;
  }
.showActivities{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}
.webDesign{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 10px 20px -10px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;

}
.webContents{
    width: 300px;
}
.webContents button{
    font-size: 18px;
    color: #111111c7;
    padding: 12px 14px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    background-color: rgba(185, 66, 185, 0.699);
    margin-top: 50px;
    
}

.btnWeb:hover{
    background-color: aqua;

}

.webContents  .web_title{
    font-size: 35px;
    color: #111;
    font-family: poppins;
    font-weight: 600;
    padding: 20px 0;

}

.designDes{
    width: 250px;
    font-size: 16px;
    text-align: justify;
}


.webImages img{
    width: 250px;
    height: 280px;
    border-radius: 20px;
}
