*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonialMain{
    margin-top: 6rem;
    background-color: #111;
}
.testimonialHead{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.ratings{
    background-color: #df9030fb;
    width: 150px;
    border-radius: 1px 80px / 140px;
    bottom: 4rem;
    position: relative;
}
.ratings .ratingNumber{
    color: #fff;
    font-size: 35px;
    padding: 30px 50px 10px 50px;

}
.ratings .ratingTitle{
    color: #fff;
    font-size: 20px;
    font-family: poppins;
    padding: 0px 50px 40px  50px;
}
.testimonialSort{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.801);
    font-weight: 700;
    text-transform: uppercase;
}
.testimonialDes{
    font-size: 64px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-family: poppins;
}
.caroselManu{
    /* width: 90%; */
    /* margin: auto; */
    margin-top: 4rem;
    height: 20px;
    /* top: 8rem; */
}
.carousel-item img{
    width: 90%;
    max-width: auto;
    height: 16rem;
}
.card{
    padding:0;
    width: 18rem;
    
  }
  .card-wrapper{
    gap: 50px;
    display: flex;
    justify-content: space-around;
    
  }
  .h11{
    padding-top: 25rem;
    color: #fff;
  }
  
.card{
    width: 50%;
}
.card button{
    background-color: red;
    width: 100px;
    height: 90px;
}
/* .starIcon .start{
    width: 30px;
    height: 40px;
    font-size: 40px;
} */
.StartIconTest{
    width: 120px;
    padding: 8px 10px;
    background-color: rgba(245, 218, 218, 0.5);
    margin: 20px 0 20px 30px;
    border-radius: 20px;

}
.StartIconTest .starIcon{
    padding: 0 2px;

}