@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonial{
    /* height: 144vh; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff69;
}
.testimonialMain{
    /* height: 100%;
    overflow: hidden; */
    margin-top: 6rem;
    /* background-color: #111; */
}
.testimonialHead{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 120vh;
}
.ratings{
    background-color: #df9030fb;
    width: 150px;
    border-radius: 1px 80px / 140px;
    /* bottom: 4rem; */
    /* position: relative; */
}
.ratings .ratingNumber{
    color: #fff;
    font-size: 35px;
    padding: 30px 50px 10px 50px;
    font-family: 'poppins';


}
.ratings .ratingTitle{
    color: #fff;
    font-size: 20px;
    font-family: 'poppins';
    padding: 0px 50px 40px  50px;
    letter-spacing: 1px;
}
.testimonialSort{
    text-align: center;
    color: orange;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 2rem;
    font-family: 'Poppins'; 
}
.testimonialSort:hover{
    color: #fff;
}
.testimonialDes{
    
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    color: #ffffffd2;
    /* color: #ffc107a9; */
    font-family: 'Poppins';
    letter-spacing: 3px;
}
.testimonialDes:hover{
    color: #f093f0;

}

/*===================== carosel add style ============= */

.caroselManu{
    margin-top: 4rem;
    height: 8rem;
    padding: 2rem 0;
}
.carousel-item img{
    width: 90%;
    max-width: auto;
    height: 16rem;
}
.card{
    padding:0;
    width: 18rem;
    
  }
  .card-wrapper{
    gap: 50px;
    display: flex;
    justify-content: space-around;
    
  }
  .h11{
    padding-top: 25rem;
    color: #fff;
  }
  
.card{
    width: 50%;
}
.card button{
    background-color: red;
    width: 100px;
    height: 90px;
}
.StartIconTest{
    width: 180px;
    padding: 10px 10px;
    /* background-color: rgba(204, 139, 139, 0.5); */
    margin: 20px 0 20px 30px;
    border-radius: 20px;

}
.StartIconTest .starIcon{
    padding: 0 2px;

}
.clientDes{
    padding: 20px 30px;
    font-size: 22px;
    font-family: 'poppins';
    font-weight: 500;
    color: #111111e1;
    line-height: 40px;
}
.imageCardTest{
    display: flex;
    gap: 20px;

    margin-left: 20px;
}
.imageCardTest .img img{
    width: 60px;
    height: 60px;
    border-radius: 50px;

}
.infoImgTest .clientName{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding-top: 8px;
    font-family: 'poppins';
    letter-spacing: 1px;

}
.clientName:hover{
    color: tomato;
}
.ClientDo{
    font-size: 22px;
    color: #111111be;
    font-weight: 600;
    bottom: 15px;
    position: relative;
    font-family: 'poppins';
    letter-spacing: 1px;
}
.iconRight{
    margin-top: 20px;
}
.iconRiQuo{
    padding: 26px 20px;
    background-color: SlateBlue;
    color: #fff;
    border-radius: 10px;

}
.iconRiQuo:hover{
    background-color: tomato;
}
.iconRiQuo .piQuote{
    bottom: 4px;
    position: relative;

}
.imageCardSec{
    display: flex;
    justify-content: space-between;
}

/* carsel item end  */


.reviewContent{
    /* margin-top: 25rem; */
    height: 180px;
    margin-top: 45px;
   

}

.reviewRatings{
    background-color: SlateBlue;
    width: 200px;

    border-radius: 1px 80px / 140px;
    margin-top: 20em;
    float: right;
}
.reviewRatings .reviewNumber{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 20px 0px 0px 0rem;
    font-weight: 600;

}
.reviewRatings .reviewTitle{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: poppins;
    padding: 0px 0px 10px  0;
    text-align: center;
}
