@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personalPlan{
    height: 100%;
    width: 100%;
    background-color: rgba(235, 203, 160, 0.226);
    padding: 0 0 3rem 0;
}
.planningHead{
    width: 90%;
    margin: auto;
}
.planningContentHead .planningSort{
    font-size: 22px;
    text-align: center;
    color: rgb(185, 176, 175);
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5rem;

}
.planningContentHead .planningTitle{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #111111e5;
    font-family: 'poppins';

}
.planningTitle:hover{
    color: rgb(228, 151, 137);
}
.planContent{
    display: flex;
    gap: 60px;

}
.basicPlan{
    width: 360px;
    background-color: white;
    border-radius: 10px;
}
.bestPlan{
    width: 360px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 10px;

}
.goldPlan{
    width: 360px;
    background-color: white;
    border-radius: 10px;
}