*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personalPlan{
    width: 90%;
    margin: auto;
}
.planningContentHead .planningSort{
    font-size: 16px;
    text-align: center;
    color: rgba(54, 54, 235, 0.801);
    font-weight: 700;
    text-transform: uppercase;

}
.planningContentHead .planningTitle{
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #111111e5;
    font-family: poppins;

}
.planContent{
    display: flex;
    gap: 60px;

}
.basicPlan{
    width: 360px;
    background-color: wheat;
    border-radius: 10px;
}
.bestPlan{
    width: 360px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 10px;

}
.goldPlan{
    width: 360px;
    background-color: wheat;
    border-radius: 10px;
}