* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  height: 100%;
  background-color: #111;

}

.pageHead {
  width: 90%;
  margin: auto;
}

.infoSection {
  display: flex;
 
}

.personalInfo {
  width: 50%;
  margin-top: 15rem;
}

/* ---------------------fall animation created----------  */
.personalInfo .sort_title {
  color: rgb(241, 226, 241);
  font-size: 22px;
  position: absolute;
  
  top: -500px;
  width: 25%;
  text-shadow: 4px 4px 8px rgb(153, 238, 172);
  animation: drop .2s ease-in forwards;
  animation-iteration-count: 1;

}
@keyframes drop{
  0%{opacity: 0}
  /* 70%{transform: translateY(750px)} */
  100%{transform: translateY(750px)}
}
/* -------------fall animation created end----------  */


/* name and titlte scroller animation  */
.scrollerHead {
  margin-top: 20px;
  /* padding: 30px; */
}

.scroller {
  height: 15em;
  line-height: 1.8em;
  position: relative;
  overflow: hidden;
  width: 50em;
  color: #fff;
  padding: 20px;
}

.scroller>span {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
  font-weight: bold;


}

.hey {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 20px;
}

.name {
  font-size: 45px;
  color: #2fe06a;
}

.frontEnd {
  font-size: 46px;
  color: orange;
  font-weight: 600;
  /* padding-top: 10px; */
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }
}

/* name and title scroller end  */

.personalInfo .descriptionInfo {
  width: 65%;
  color: #fff;
  padding: 10px 12px;
  font-size: 18px;
}

.contactInfo{
  width: 50%;
  
}
.backgroundPart {
  margin-top: 5rem;
  /* width: 100%; */
  background-image: url('../../assets/Images/Background/SubMainBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 580px; */
  height: 90%;

}

.btnInfo button{
  /* width: 50px; */
  padding: 14px 80px;
  background-color: #837b7b00;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}
.btnInfo  .mailIcon{
  width: 30px;
  color: #fff;
}
.btnInfo  .arrowIcon{
  width: 10px;
  color: #fff;
  left: 1rem;
  position: relative;
}
/* for star animation part  */
#frameDiv {
  width: 500px;
  height: 150px;
  margin: 20px;
  position: relative;
}

.span {
  position: absolute;
  z-index: 1;
  width: 70px;
  animation: moveImg 8s 3;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#fish1 {
  offset-path: path('M 50 80 C 150 -20 250 180 350 80');
  offset-rotate: auto;
  color: #fff;
  text-transform: capitalize;
  text-shadow: 4px 4px 18px #2fe06a;
  font-size: 65px;
  font-weight: 600;
  font-style: italic;

}

@keyframes moveImg {
  100% {
    offset-distance: 100%;
  }
}

/* for star animation part end  */

