@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footerHead{
    height: 100%;
    overflow: hidden;
    background-color: #8d969ede;
}
.footerBody{
    width: 90%;
    margin: auto;
}
.footerImage a{
    text-decoration: none;
}
.footerImage img{
    width: 120px;
    height: 70px;
    margin: 5rem 45% 4rem 45%; 
    border-radius: 20px;
}
.contentList .listOfItem{
    display: flex;
    gap: 40px;
    justify-content: center;
} 
.listOfItem li{
    list-style: none;
    padding: 0 0 40px 0;
   
} 
.listOfTitle .link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: 1.5px;
}
.link:hover{
    color: tomato;
}

/* social media style start  */

.socialIconContents .socialOfItem{
    display: flex;
    gap: 40px;
    justify-content: center;
   

}
.socialOfItem li{
    list-style: none;
    margin: 0 0 40px 0;  
}
.listOfIcon{
    padding: 8px  10px 8px 10px ;
    background-color: tomato;
    border-radius: 25px;
}
.listOfIcon .linkIcon{
    text-decoration: none;
    color: #fff;   
}
.listOfIcon:hover{
    background-color: #2405ec9a;
}
/* social media style end  */

.footerLine .lineOfHr{
    color: #fff;
    margin: 0 0 20px 0;

}
/* term Condition section start*/
.termContents{
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.copyrightHead .copyright{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 20px 20px 30px 20px;
    font-family: 'Poppins';
    letter-spacing: 1.5px;
}
.termHead .termsBody{
    display: flex;
    gap: 40px;
    justify-content: center;
    
}
.termsBody li{
    list-style: none;
    margin: 0 0 40px 0;  
}
.termsList{
    padding: 20px  20px 30px 20px ;

    
}
.termsList .termsTitle{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600; 
    font-family: 'Poppins';
    letter-spacing: 1.5px;
   
}
.termsTitle:hover{
    color: orange;
}

