*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footerHead{
    background-color: #111;
}
.footerBody{
    width: 90%;
    margin: auto;
}
.footerImage img{
    width: 100px;
    height: 80px;
    margin: 5rem 40% 4rem 40%; 
}  