*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ImageOverlayPortfolio{
    height: 100%;
    width: 100%;
    padding: 5rem 0;
}

.imagesContent_portfolio{
    display: flex;
    gap: 2rem;
}
/* Container for the image and overlay */
.image-container a{
    text-decoration: none;
}
.image-container {
    position: relative;
    width: 100%; /* Adjust the width as needed */
   
    /* overflow: hidden; */
  }

  /* Image styling */
  .img_porfolio img {
    width: 700px;
    height: 800px;
    display: block;
    transition: transform 1s ease-in;
    border-radius: 10px;
  }
  .img_porfolio:hover{
    transform: scale(1.01);
  }
 

  /* Overlay styling */
  .overlay {
    position: relative;
    top: 0;
    left: 0;
    bottom: 5rem;
    width: 100%;
    /* overflow: hidden; */
    display: block;
    height: 0px;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.7); 
    /* Adjust the overlay color and transparency */
    color: #fff; /* Text color on the overlay */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Title styling */
  .overlay .overlayTitle_portfolio {
    margin: 0;
    font-size: 1.9em;
    bottom: 5rem;
    position: relative;
    padding: 1rem 2rem;
    color: #55e6a5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* margin-top: 6rem; */
    /* background-color: aqua; */
  }

  /* Show overlay on hover */
  .image-container:hover .overlay {
    opacity: 1;
  }

  /* for short image content  */

  .imageContentSort{
    display: flex;
    gap: 2em;
    margin-top: 4rem;
  }
 

  .img_porfolioSort img {
    width: 455px;
    height: 500px;
    display: block;
    transition: transform .8s ease-in;
  }
  .img_porfolioSort:hover{
    transform: scale(1.01);
  }
 