*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ImageOverlayPortfolio{
    height: 100%;
    width: 100%;
    padding: 5rem 0;
}

.imagesContent_portfolio{
    display: flex;
    gap: 2rem;
}
/* Container for the image and overlay */
.image-container {
    position: relative;
    width: 100%; /* Adjust the width as needed */
   
    /* overflow: hidden; */
  }

  /* Image styling */
  .img_porfolio img {
    /* width: 100%; */
    /* width: 45rem !important; */
    width: 700px;
    height: 700px;
    /* height: auto; */
    display: block;
  }

  /* Overlay styling */
  .overlay {
    position: relative;
    top: 0;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.7); /* Adjust the overlay color and transparency */
    color: #fff; /* Text color on the overlay */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Title styling */
  .overlay h2 {
    margin: 0;
    font-size: 1.5em;
    bottom: 2rem;
    position: relative;
    /* margin-top: 6rem; */
    background-color: aqua;
  }

  /* Show overlay on hover */
  .image-container:hover .overlay {
    opacity: 1;
  }