@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.ContactPageBasic{
    height: 100%;
    width: 100%;
    margin-top: 4rem;
}
.contact_contents{
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
}
.phone_multiContent{
    width: 440px ;
    height: 360px;
    background-color: #141c27;
    display: block;
    position: relative;
}
.mobileDevice{
    /* color: #55e6a5; */
    margin: 3rem 0 0 40%;
    color: #0dcaf0;
}
.phone_contactPage{
    width: 440px;
    text-align: center;
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.call_meTitle{
    text-align: center;
    /* padding: .5rem 0; */
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #6c757d;

}
.number_show{
    text-align: center;
    padding: .5rem 0;
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;

}
.number_show:hover{
    color: #0dcaf0;
}

.email_show{
    text-align: center;
    padding: .5rem 0;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;

}
.email_show:hover{
    color: #0dcaf0;
}
.items_info a{
    text-decoration: none;
}
/* .location_multiContent{
    width: 420px !important;
    height: 400px;
    background-color: #a2a2a2;
    display: block;
    position: relative;
}
.day_multiContent{
    width: 420px !important;
    height: 400px;
    background-color: #a2a2a2;
    display: block;
    position: relative;
} */
